* {
    padding: 0;
    margin: 0;
    border: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}

.container {
    width: 1024px;
    height: 100%;
    margin: 0 auto;
}

header {
    width: 100%;
    background-color: #F5F5F5;
    text-align: center;
}

header a {
    padding: 15px;
    display: inline-block;
    text-transform: uppercase;
    color: #333;
    font-weight: bold;
}

header a:hover {
    color: #42abc8;
}

.products {
    margin: 50px 0;
    width: 100%;
}

.products .product {
    width: 200px;
    display: inline-block;
    vertical-align: top;
    margin: 20px;
    color: #333;
    position: relative;
}

.products .product img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.products .product .details {
    width: 100%;
    position: relative;
    color: #333;
    display: block;
}

.products .product .details span {
    display: block;
}

.products .product .details .brand {
    font-weight: bold;
}

.products .product .details .name,
.products .product .details .price {
    font-weight: 300;
}

.products .product .details .tag {
    font-weight: bold;
    color: #42abc8;
    font-size: 12px;
}

.products .product .details i {
    position: absolute;
    top: 10px;
    right: 0;
}

.products .product .similar {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 40px;
    color: #000;
    transition: all 0.3s;
}

.products .product .similar .icon {
    width: 10px;
    height: 10px;
    border: 2px solid #000;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transition: all 0.3s;
    transform: translate(-50%,-50%);
}

.products .product .similar .text {
    opacity: 0;
    transition: opacity 0.3s;
    color: #fff;
}

.products .product .similar:hover {
    width: 150px;
}

.products .product .similar:hover .icon {
    transform: translateY(-50%) rotate(90deg);
    left: 20px;
}

.products .product .similar:hover .text {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    opacity: 1;
    color: #000;
}